@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    text-align: center;
}

img {
    border: 1mm black solid;
    border-radius: 10%;
    width: 800px;
    height: 450px;
}

p{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    
}